<%- include ("partials/index/header.ejs") %>

    <body class="h-auto">
        <div class="h-full relative bg-white-700 overflow-hidden">
            <div class="max-w-7xl h-[650px] mx-auto">
                <%- include ("partials/index/navbar.ejs") %>
                    <div class="relative 2xl:flex sm:block z-10 pb-8 bg-white-700 sm:pb-16 md:pb-20 lg:max-full lg:w-full lg:pb-28 xl:pb-32">
                        <%- include ("partials/index/banner.ejs") %>
                            <%- include ("partials/index/svg_banner.ejs") %>
                                <%- include ("partials/index/mobile.ejs") %>
                    </div>
            </div>
            <%- include ("partials/index/banner_tracking.ejs") %>
                <%- include ("partials/index/band.ejs") %>
                    <%- include ("partials/index/help.ejs") %>
        </div>
    </body>
    <%- include ("partials/index/final_footer.ejs") %>
        <%- include ("partials/index/footer.ejs") %>
        